<div class='col-xs-6'>
  <form>
    {{input id="user" class="form-control" value=user placeholder="User Name"}}
    {{input id="tweet" class="form-control" value=tweet placeholder="Tweet!"}}
    <button class="btn btn-info" {{action 'save'}}>¡Tweet!</button>
  </form>
  <ul>
    {{#each}}
      <li>{{user}}: {{tweet}} {{time}}m</li>
    {{/each}}
  </ul>
</div>
