<div class='col-xs-6'>
  <form>
    {{input id="user" class="form-control" value=user placeholder="User Name"}}
    {{input id="tweet" class="form-control" value=tweet placeholder="Tweet!" maxlength="144"}}
    <button class="btn btn-info" {{action 'save'}}>¡Tweet!</button>
  </form>
  <ul>
    {{#each}}
      <li>{{user}}: {{tweet}} {{time}}m
        <a class="btn btn-info" {{action "show"}}>
            <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
        </a>
      </li>
      {{#if replyShow}}
      <ul>
        {{#each replies}}
        <li>{{responder}}: {{reply}}</li>
        {{/each}}
      </ul>
      <form>
        {{input id="responder" class="form-control" value=responder placeholder="User Name"}}
        {{input id="reply" class="form-control" value=reply placeholder="Tweet!" maxlength="144"}}
        <button class="btn btn-info" {{action 'reply'}}>¡Reply!</button>
      </form>
      {{/if}}
    {{/each}}
  </ul>
</div>
